<p id="notice"><%= notice %></p>

<div class="row">
	<div class="col l6">
		<%= image_tag @content.cover.url, class: "responsive-img show-img" %>
	</div>
	<div class="col l6">
		<h1 class="show-title"><%= @content.title %></h1>
		<h4 class="show-price"><%= number_to_currency(@content.price) %></h4>
		<p>Venduto da <%= @content.user.name %></p>
		<p><%= @content.description %></p>
	</div>
</div>

<% if @content.user == current_user %>
	<%= link_to 'Modifica Contenuto', edit_content_path(@content) %> |
<% end %>
<%= link_to 'Torna ai Contenuti', contents_path %>